{% include 'base.html' %}
{% block content %}
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Predict Hotel Booking Cancellation</h3>
                    <p>Fill in the data below.</p>
                    <form class="requires-validation" action="{{ url_for('predict')}}" method="post">

                        <div class="col-md-12">
                            <input class="form-control" type="text" name="lead_time" placeholder="LEAD TIME (DAYS)" required>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <select class="form-select mt-3" type="text" name="same_room" required>
                                <option selected disabled value="">ASSIGNED ROOM</option>
                                <option value="1">SAME AS BOOKING</option>
                                <option value="0">DIFFERENT TO BOOKING</option>
                            </select>
                        </div>
                        <br> <br>
                        <div class="col-md-12">
                            <input class="form-control" type="Number" name="Previous_Cancellation"
                            placeholder="NO OF PREVIOUS CANCELLATION" required>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <input class="form-control" type="text" name="special_requests"
                                placeholder="NO OF TOTAL SPECIAL REQUESTS" required>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <input class="form-control" type="Number" name="booking_changes"
                                placeholder="NO OF CHANGES IN BOOKING" required>
                        </div>
                        <br> <br>
                        <div class="col-md-12">
                            <br>
                            <h4>Selection of model</h4>
                            <select class="form-select mt-3" name="model_name">
                                <option selected disabled value="">SELECT THE MODEL</option>
                                <option value="logistic_regression">Logistic Regression</option>
                                <option value="naive_bayes">Naive Bayes</option>
                                <option value="random_forest">Random Forest</option>
                                <option value="support_vector_machine">Support Vector Machine</option>
                            </select>
                        </div>


                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Predict</button>
                        </div>
                    </form>


                </div>
                <div class="form-items1">
                    <h3>Prediction Result</h3> <br>
                    <div class="form-items2">
                        <h6>{{ prediction_text }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}